.overlay
= render partial: 'title_bar', locals: {text: 'Baxter Ross'}
.stripe.black
  .container
    %img.baxter{ src: 'assets/baxter_ross.jpg' }
    .gist
      A full stack developer, teacher, and avid entrepreneur, Baxter Ross has been involved in the startup communities of Boulder, Colorado and Los Angeles, California for the last five years.
      %br
      He has participated in and founded companies in many industries including adventure travel, social analytics, education, fitness, and ecommerce.
      %br
      Among his preferred technologies are Ruby / Rails, Javascript, Mongo, Linux, and C++.
.stripe.white.projects
  .container
    %h2
      Recent Adventures
    %ul
      %li
        Technical Architect at
        %a{ href: 'http://sidebench.com/', target: '_blank' }
          Sidebench Studios
        %a.more-info{ href: '/sidebench' }
          (more info)
      %li
        Lead Developer at
        %a{ href: 'http://thewoo.com/', target: '_blank' }
          The Woo
      %li
        Instructor and Curriculum Designer for
        %a{ href: 'https://generalassemb.ly/', target: '_blank' }
          General Assembly
      %li
        Guest Speaker at
        %a{ href: 'http://theuniquecamp.com/', target: '_blank' }
          Unique CAMP
      %li
        Designed and Built
        %a{ href: 'https://www.youtube.com/watch?v=oD26Mrf1mck', target: '_blank' }
          The Ultimate Smartphone Photobooth
        for Qualcomm
      -# kik / heyhey
.stripe.white.tautology
  .container
    %h2
      Tautology
    Tautology is development shop in LA.
    %br
    We make applications and websites.
    %br
    %a.arrow-link{ href: '/tautology' } Find out more
