.overlay
= render partial: 'title_bar_small', locals: {text: 'Tautology Chemical'}
.stripe.black
  .container
    .gist
      Tautology Chemical is a synthesis and chemical research lab.
      %br
      We work in organic and inorganic synthesis, small-batch chemical process engineering, and propellant research.
.stripe.white
  .container
    %h2
      Synthesis
    .row
      .col
        .video-wrapper
          %iframe{ src: "https://www.youtube.com/embed/4-7BA-wKgN0", frameborder: "0", allowfullscreen: true }
      .col
        .video-wrapper
          %iframe{ src: "https://www.youtube.com/embed/dnavqgCd4f4", frameborder: "0", allowfullscreen: true }
     
    %p
      %img
