.overlay
= render partial: 'title_bar_small', locals: {text: 'Sidebench Studios'}
.stripe.black
  .container
    .gist
      Sidebench Studios specializes in providing elegant user-centered technology solutions and products for clients.
      %br
      Sidebench Studios is one part technology consultant, one part management consultant, and one part creative studio.
.stripe.white
  .container
    %h2
      Chief Technical Architect
    %h3
      @ Sidebench Studios
    %p
      Baxter Ross joined Sidebench Studios, a growing tech consultancy based in West LA, as a technical architect in 2015. 
    %p
      Over the following year Sidebench experienced impressive organic growth, increasing it's full time staff by 60% and expanding to new corporate offices.
      Sidebench's revenue grew beyond targets for 2015, and several high profile clients joined an already impressive portfolio of past and current work.
    %p
      This growth was driven by new sales efforts aimed at Fortune 500 clients, as well as investments in the core team's processes and tools.
    %p
      Roles which contributed to these successes include creation of sales processes and documents and participation in the sales process as a technical architect,
      as well as codifying key processes in the sales funnel by creating material to support project scope estimation and decision making about platforms and technologies.
    %p
      As Chief Technical Architect, Baxter Ross was also responsible for software architecture and information design in the early phases of development, budgetting and resource allocation,
      supervision of the development process including code reviews and developer support, and interfacing with client technical resources,        
