@media (max-width: $sm-min) {
  h1 {
    font-size: 48px;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .tautology h2:after {
    display: none;
  }
  .gist {
    text-align: left;
  }
  .projects li {
    margin: 12px 0;
  }
  .projects li span {
    opacity: 1;
  }
}
