@media (max-width: 360px) {
  h1 {
    font-size: 80px;
  }
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .tautology h2:after {
    display: none;
  }
  .gist {
    text-align: left;
  }
}
