$gh_0: #eeeeee;
$gh_1: #d6e685;
$gh_2: #8cc665;
$gh_3: #44a340;
$gh_4: #1e6823;

$sm-min: 360px;

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.4;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.arrow-link {
  
  &:hover {
    opacity: .8;
  }  
  
  &:after {
    content: '>';
    display: inline-block;
    margin-left: 4px;
    font-weight: bold;
    font-style: italic;
  }
}

@mixin striped_top {
  $thickness: 6px;

  margin-top: $thickness * 4;
  position: relative;

  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: $thickness;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  &:before {
    top: $thickness * -4;
    border-top-color: $gh_1;
    border-bottom-color: $gh_2;
  }
  &:after {
    top: $thickness * -2;
    border-top-color: $gh_3;
    border-bottom-color: $gh_4;
  }
}

@mixin flipper {
  $size: 50px;
  @media (max-width: $sm-min) {
    $size: 35px;
  }

  & {
    position: relative;
  }

  &.loaded {
    &:before, &:after {
      transform: rotate(180deg);
      margin-left: -$size;
    }
  }

  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -$size * 3;
    height: $size;
    width: $size * 2;
    border-radius: $size;
    transition: all 640ms;
  }
  &:before {
    bottom: -$size;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #000;
    transform-origin: 50% 0;
  }
  &:after {
    bottom: 0px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    transform-origin: 50% 100%;
  }
}

@mixin clearfix {
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
  & {
      *zoom: 1;
  }
}

@import 'grid';
@import 'static';
