%footer
  .container
    .contact-method
      email:
      %a{href: 'mailto:baxterross@gmail.com'}
        baxterross@gmail.com
    .contact-method
      call:
      310 893 9376
    .copyleft
      copyleft 2014
