%footer
  .container
    .contact-method
      email:
      %a{href: 'mailto:baxterross@gmail.com'}
        baxterross@gmail.com
    .contact-method
      call:
      %a{href: 'tel:+1-310-893-9376'}
        310 893 9376
    .copyleft
      copyleft
      = Time.now.year